<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/wwwroot/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="~/wwwroot/styles/font-awesome.css" />
    <link rel="stylesheet" href="~/wwwroot/styles/fonts.css" />
    <link rel="stylesheet" href="~/wwwroot/styles/main.min.css" />

</head>
<body>

    @Html.Partial("~/Views/Shared/Header.cshtml")


    <div class="container body-content content">
        @RenderBody()
    </div>

   
    <script src="~/wwwroot/js/polyfills.bundle.js" defer></script>
    <script src="~/wwwroot/js/vendor.bundle.js" defer></script>
    <script src="~/wwwroot/js/app.bundle.js" defer></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

  
</body>
</html>
